@page
@model WebApplication_Programari.Pages.Doctori.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Sterge doctor</h1>


<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Specializare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Doctor.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi</a>
    </form>
</div>
