@page
@model WebApplication_Programari.Pages.Programari.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Sterge programarea</h1>


<div>
    <h4>Programare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.CNP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.CNP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.TipAnimal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.TipAnimal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.Doctor.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Doctor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Data)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Programare.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la programari</a>
    </form>
</div>
