@page
@model WebApplication_Programari.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Opinie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Opinie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Nota)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Review?.ID">Editeaza</a> |
    <a asp-page="./Index">Inapoi</a>
</div>
